@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Newsreader:wght@300&display=swap');

body {
  background-color: #f9f7f1;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2%;
  align-items: center;
  margin: 5%;
}

a {
  text-decoration: none;
  color: black;
}

.news-header {
  font-family: 'Domine', serif;
  font-size: 200%;
}

.dropdown {
  display: grid;
}

form {
  margin: auto;
}

#no-news {
  font-family: 'Domine', serif;
  font-size: 300%;
}

/************************************** name-foto-party **********************************************/

.name-foto-party {
  font-family: 'Domine', serif;
  width: 100%;
  opacity: 1;
  filter: grayscale(40%);
  display: grid;
  justify-content: center;
}

.name-foto-party img {
  margin: auto;
  filter: grayscale(40%);
  border: 1px solid rgba(70, 70, 70, 0);
  box-shadow: 5px 5px 5px rgb(184, 184, 184);
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
}

.name-foto-party p {
  padding-top: 30px;
  margin: auto;
}

.name-foto-party h1 {
  text-align: center;
}

/***************************************  Cards  ***************************************************/

.card {
  font-family: 'Newsreader', serif;
  background-color: white;
  border: 1px solid rgba(70, 70, 70, 0);
  box-shadow: 5px 5px 5px rgb(184, 184, 184);
  border-radius: 3px;
}

.card img {
  width: 100%;
  opacity: 1;
  filter: grayscale(40%);
}

.card-body {
  margin: 5%;
}

/*********************************** Dropdown *****************************************************************/

.dropdown select {
  background-color: #f9f7f1;
  padding: 8px 12px;
  color: rgb(66, 66, 66);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown select:focus,
.dropdown select:hover {
  outline: none;
  border: 1px solid grey;
}
